# =============================================
# VPS 2 — Replica (.env)
# =============================================

# PostgreSQL (mêmes credentials que le VPS1)
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="CHANGER-MOI-meme-que-vps1"

# Adresse IP publique du VPS1
PRIMARY_HOST="203.0.113.10"

# Réplication (mêmes credentials que le VPS1)
REPLICATION_USER="replicator"
REPLICATION_PASSWORD="CHANGER-MOI-meme-que-vps1"
